<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.today_menu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Today_menu"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Today_menu"/>

        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="37de20222a675f29ef4ed38363aa6545" />


        <activity android:name=".LoginActivity"/>
        <activity android:name=".JoinActivity"/>
        <activity android:name=".MyPageActivity"/>
        <activity android:name=".ChangePwPopup" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".MenuResultPopup" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".ImgPopup" android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".menuPick.MenuStartActivity" />
        <activity android:name=".menuPick.MenuResultActivity" />
        <activity android:name=".menuPick.StartQuestionActivity"/>
        <activity android:name=".menuPick.MenuPriceActivity"/>

        <activity android:name=".mapdata.MapActivity"/>
        <activity android:name=".mapdata.MenuMapActivity"/>

        <activity android:name=".menuPick.taste.Beef" />
        <activity android:name=".menuPick.taste.Temp" />
        <activity android:name=".menuPick.taste.Spicy" />

        <activity android:name=".menuPick.AsianActivity"/>
        <activity android:name=".menuPick.ChineseActivity"/>
        <activity android:name=".menuPick.JapaneseActivity"/>
        <activity android:name=".menuPick.KoreanActivity"/>
        <activity android:name=".menuPick.WesternActivity"/>

        <activity android:name=".menuPick.KorFlavor" />
        <activity android:name=".menuPick.KorSoup" />
        <activity android:name=".menuPick.JapSeaFood"/>
        <activity android:name=".menuPick.ChineseBeef"/>
        <activity android:name=".menuPick.ChineseFlavor"/>
        <activity android:name=".menuPick.WesFlavor"/>

    </application>


</manifest>